@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --font-text: 'Poppins', sans-serif;
    --font-big-text: 'Poppins', sans-serif;
    --color-text: #001C54;
    --color-text-2: #fff;
    --color-big-text: #FBFCFE;
    --color-element: #FA9CE2;
    --color-button: #F361CC;
    --color-text-btn: #F885D9;
    --color-line: #F780D7;

}

body {
    font-family: var(--font-text);
}

.main {
    width: 1512px;
    height: 4255px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.header-menu {
    margin: 77px 88px 88px 114px;
}

.header-menu__link {
    text-decoration: none;
    font-size: 20px;
    color: var(--color-text);
}

.menu-link {
    font-weight: bold;
}

.menu-link-1 {
    margin: 0 34px 0 66px;
}

.menu-link-2 {
    margin-right: 50px;
}

.header-button {
    margin: 44px 121px 55px 55px;
}

.header-button-btn {
    width: 218px;
    height: 88px;
    border: none;
    border-radius: 35px;
    color: var(--color-text-2);
    font-size: 20px;
    background: linear-gradient(207deg, rgba(252, 128, 64, 1) 28%, rgba(170, 60, 241, 1) 90%);
}

.new-skills {
    margin: 0 0 129px 113px;
    display: flex;
    justify-content: space-between;
}

.left-side__title {
    font-size: 60px;
    color: var(--color-text);
    font-family: var(--font-big-text);
    padding-top: 50px;
    padding-bottom: 30px;
}

span {
    border: 0.3px solid var(--color-element);
    background-color: var(--color-button);
    color: var(--color-text-2);
    border-radius: 40px;
    padding: 12px 34px;
}

.left-side__text {
    font-size: 26px;
    color: var(--color-text);
    margin-bottom: 80px;
    opacity: 50%;
}

.left-side-button {
    width: 296px;
    height: 122px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    color: var(--color-text-2);
    background: linear-gradient(312deg, rgba(243, 96, 205, 1) 28%, rgba(250, 155, 223, 1) 90%);
    margin-bottom: 13px;
}

.add-value {
    margin: 0 100px 152px 114px;
    width: 1298px;
    height: 620px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(312deg, rgba(243, 96, 205, 1) 28%, rgba(250, 155, 223, 1) 90%);
    border-radius: 124px;
}

.left-title {
    margin: 123px 0 71px 91px;
    font-size: 50px;
    color: var(--color-text-2);
    font-family: var(--font-big-text);
    font-weight: bold;
}

.left-button {
    margin-left: 89px;
    width: 296px;
    height: 122px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    color: var(--color-text-btn);
    background-color: var(--color-text-2);
}

.add-value-right {
    position: relative;
}

.add-value-right__rectangle-opasity {
    margin-top: 101px;
}

.top-img__rectangle-purple {
    position: absolute;
    top: 164px;
    left: 64px;
}

.top-img__pen {
    position: absolute;
    top: 207px;
    left: 110px;
}

.top-img__rectangle-yellow {
    position: absolute;
    top: 164px;
    left: 242px;
}

.top-img__suitcase {
    position: absolute;
    top: 197px;
    left: 280px;
}

.bottom-img__rectangle-yellow {
    position: absolute;
    top: 338px;
    left: 64px;
}

.bottom-img__suitcase {
    position: absolute;
    top: 374px;
    left: 100px;
}

.bottom-img__rectangle-orange {
    position: absolute;
    top: 338px;
    left: 243px;
}

.bottom-img__square {
    position: absolute;
    top: 378px;
    left: 287px;
}

.main-business {
    display: flex;
    justify-content: space-between;
    margin: 0 264px 75px 114px;
    width: 1153px;
    height: 522px;
}

.business-text {
    margin-left: 78px;
    margin-top: 16px;
}

.business-text__title,
.solution-text__title {
    font-size: 55px;
    font-family: var(--font-big-text);
    font-weight: bold;
    margin-bottom: 24px;
}

.business-text__text,
.solution-text__text {
    font-size: 24px;
    color: var(--color-text);
    opacity: 50%;
    padding-bottom: 17px;
    position: relative;
}

.main__line-business {
    border-bottom: 7px solid var(--color-line);
    border-radius: 99px;
    width: 343px;
    position: absolute;
    left: 655px;
    top: 2108px;
}

.main__line-solution {
    border-bottom: 7px solid var(--color-line);
    border-radius: 99px;
    width: 343px;
    position: absolute;
    left: 114px;
    top: 2705px;
}

.main-solution {
    display: flex;
    justify-content: space-between;
    margin: 0 264px 163px 114px;
    width: 1153px;
    height: 522px;
}

.solution-text {
    margin-top: 16px;
}

.solution-purple-square {
    margin-left: 78px;
}

.main-banner {
    margin: 0 100px 226px 114px;
    width: 1298px;
    height: 620px;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(312deg, rgba(243, 96, 205, 1) 28%, rgba(250, 155, 223, 1) 90%);
    border-radius: 124px;
}

.element-violet {
    margin-top: 114px;
}

.banner-text__title {
    margin: 141px 0 48px 64px;
    font-size: 65px;
    color: var(--color-big-text);
}

.banner-text__text {
    font-size: 30px;
    color: var(--color-big-text);
    opacity: 50%;
    margin: 0 29px 140px 64px;
}

.footer {
    margin: 0 190px 0 114px;
    display: flex;
    justify-content: space-between;
}

.footer-description__title {
    font-size: 55px;
    color: var(--color-text);
    font-family: var(--font-big-text);
    font-weight: bold;
    margin-bottom: 13px;
}

.footer-description__text {
    font-size: 22px;
    color: var(--color-text);
    opacity: 50%;
}

.footer-menu {
    margin-left: 104px;
}

.menu-partnership {
    margin-left: 80px;
}

.menu-about {
    margin-left: 80px;
}

.menu-support {
    margin-left: 141px;
}

.menu-li {
    list-style: none;
}

.menu-all-link {
    text-decoration: none;
    color: var(--color-text);
    opacity: 50%;
}

.menu-partnership__title,
.menu-about__title,
.menu-support__title {
    margin-bottom: 22px;
    margin-top: 16px;
    font-size: 22px;
    font-weight: bold;
    color: var(--color-text);
}

.footer-menu__text {
    margin-left: 716px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-text);
    margin-bottom: 126px;
}

@media (max-width: 1280px) {
    .main {
        max-width: 95%;
    }

    .left-side__title {
        font-size: 50px;
    }

    .left-title {
        font-size: 40px;
    }

    .left-button {
        width: 230px;
        height: 100px;
        margin-top: 50px;
    }

    .right-side {
        width: 40%;
    }

    .header-button {
        margin: 44px 10px 55px 55px;
    }

    .add-value {
        max-width: 90%;
    }

    .main-business,
    .main-solution {
        width: 85%;
    }

    .business-text__title,
    .solution-text__title {
        font-size: 45px;
    }

    .main-banner {
        max-width: 90%;
    }

    .banner-text__title {
        font-size: 50px;
    }

    .banner-text__text {
        font-size: 23px;
    }

    .footer {
        margin: 0 50px 0 114px;
    }

    .footer-description__title {
        font-size: 50px;
    }

    .footer-description__text {
        font-size: 18px;
    }

    .footer-menu__text {
        margin-left: 620px;
        margin-bottom: 126px;
    }

}

@media (max-width: 1100px) {
    .main {
        max-width: 100%;
    }

    .add-value {
        max-width: 95%;
        height: 550px;
    }

    .add-value-right__rectangle-opasity {
        width: 100%;
        margin-left: 25px;
        margin-top: 80px;
    }

    .top-img__rectangle-purple,
    .top-img__rectangle-yellow,
    .bottom-img__rectangle-yellow,
    .bottom-img__rectangle-orange {
        width: 110px;
    }

    .top-img__rectangle-purple {
        top: 150px;
    }

    .top-img__rectangle-yellow {
        top: 150px;
        left: 210px;
    }

    .bottom-img__rectangle-yellow {
        top: 305px;
    }

    .bottom-img__rectangle-orange {
        top: 305px;
        left: 210px;
    }

    .top-img__pen {
        top: 185px;
        left: 95px;
    }

    .top-img__suitcase {
        top: 173px;
        left: 235px;
    }

    .bottom-img__suitcase {
        top: 327px;
        left: 89px;
    }

    .bottom-img__square {
        top: 330px;
        left: 240px;
    }

    .business-text__title,
    .solution-text__title {
        width: 100%;
        font-size: 35px;
    }

    .main-banner {
        max-width: 95%;
        height: 550px;
    }

    .element-violet__img {
        margin-top: -13px;
        height: 340px;
    }

    .banner-text__title {
        width: 90%;
        font-size: 40px;
    }

    .banner-text__text {
        width: 90%;
        font-size: 20px;
    }

    .footer-description__title {
        width: 100%;
        font-size: 45px;
    }

    .footer-menu__text {
        margin-left: 470px;
    }
}